<!-- CAMPO IMAGEM -->
<label>Imagem da Receita</label>
<input type="url" name="image" value="{{ recipe.image }}">

<!-- CAMPO NOME DA RECEITA -->
<label>Nome da receita</label>
<input type="text" name="title_recipe" value="{{ recipe.title_recipe }}">

<!-- CAMPO NOME DO CHEF -->
<label for="">Chef</label>
<input type="text" name="author" value="{{ recipe.author }}">

<!-- CAMPO INGREDIENTES -->
<label>Ingredientes</label>
<div id="ingredients" class="item">
    {% if not recipe.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="" placeholder="Novo ingrediente">
        </div>
        {% endif %}
        {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="{{ ingredient }}">
            </div>
        {% endfor %}
</div>
<button type="button" class="add-ingredient btn-recipe-add">
    Adicionar novo ingrediente
</button>

<!-- CAMPO PREPAROS -->
<label>Modo de Preparo</label>
<div id="preparetions" class="item">
    {% if not recipe.preparetions %}
        <div class="preparetion">
            <input type="text" name="preparetions[]" value="" placeholder="Novo passo">
        </div>
        {% endif %}
        {% for prepare in recipe.preparetions %}
            <div class="preparetion">
                <input type="text" name="preparetions[]" value="{{ prepare }}">
            </div>
    {% endfor %}
</div>
<button type="button" class="add-preparetion btn-recipe-add">
    Adicionar novo passo
</button>

<!-- CAMPO INFORMAÇÃO -->
<label>informações adicionais</label>
<textarea name="information" id="{{ recipe.id }}" cols="30" rows="10" value="{{ recipe.information }}"></textarea>