{% extends 'layout-manager.njk' %}
{% block content %}
    <!--PRINCIPAL-->
    <section class="header-title">
        <h1>Receita: {{ recipe.title_recipe }}</h1>
        <a href="/admin/recipes/{{ recipe.id }}/edit" class="button primary">
            Editar receita
        </a>
    </section>

    <!--ReceitaHeader-->
    <section class='recipe-header'>
        <img src="{{ recipe.image }}" alt="{{ recipe.title_recipe }}"/>
        <h1>{{ recipe.title_recipe }}</h1>
        <h4>{{ recipe.author }}</h4>
    </section>

    <!--ReceitaIngrediente-->
    <section class='recipe-ingredients'>
        <h3>Ingredientes</h3>

        <div class="display">
            <ul>
                <!-- Através da variavél 'ingrediente' é possivel acessar todos os elementos do Array ingredients, e trazer separado
                por ',' para cada tag <li> -->
                {% for ingredientes in recipe.ingredients %}
                    <li class="list">{{ ingredientes }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!--ReceitaPreparo-->
    <section class='recipe-prepare'>
        <h3>Modo de preparo</h3>
        <div class="display">
            <ul>
                {% for prepare in recipe.preparetions %}
                    <li>{{ prepare }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!--ReceitaInformações-->
    <section class='recipe-information'>
        <h3>Informações adcionais</h3>
        <div class="display">
            <p>{{ recipe.information }}</p>
        </div>
    </section>

{% endblock content %}