{% extends 'layout-web.njk' %}
{% block content %}
    <!--PRINCIPAL-->
    <section class='recipe-header'>
        <img src="{{ item.image }}" alt="{{ items.title }}"/>
        <h1>{{ items.title }}</h1>
        <h4>{{ items.author }}</h4>
    </section>

    <section class='recipe-ingredients'>
        <h3>Ingredientes</h3>
        <button class="btn" type="button">Esconder</button>
        <div class="display">
            <ul>
                <!-- Através da variavél 'ingrediente' é possivel acessar todos os elementos do Array ingredients, e trazer separado
                por ',' para cada tag <li> -->
                {% for ingrediente in items.ingredients %}
                    <li>{{ ingrediente }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class='recipe-prepare'>
        <h3>Modo de preparo</h3>
        <button class="btn" type="button">Esconder</button>
        <div class="display">
            {% for propi in items.preparation %}
                <p>{{ propi }}</p>
            {% endfor %}
        </div>
    </section>

    <section class='recipe-information'>
        <h3>Informações adcionais</h3>
        <button class="btn" type="button">Esconder</button>
        <div class="display">
            <p>{{ items.information }}</p>
        </div>
    </section>

{% endblock %}