{% extends 'layout-web.njk' %}
{% block header %}
    <form action="/recipes" method="GET" id="search">
        <input 
            type="text" 
            name="filter" 
            value="{{ filter }}" 
            placeholder="Buscar receita">
        <button type="submit"   class="primary">
           Buscar
        </button>
    </form>
{% endblock header %}
{% block content %}
    <section>
        <div class="cards">
            {% for item in items %}
                <div class="card" id="{{ item.id }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}"/>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.author }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    {# <div class="modal-overlay">
            <div class="modal">
                <img src="" alt=""/>
                <h3></h3>
                <p></p>
                <a href="" class="close-modal">Fechar modal</a>
            </div>
        </div> #}
    <script src="js/display-recipe.js"></script>


{% endblock %}